/*
==============================
General Styles
==============================
*/
body {
  font-family: AvenirNext-Medium, Avenir, 'Helvetica Neue', Helvetica, Arial, sans;
  background-image: url("https://raw.githubusercontent.com/Chuabacca/dsc-email/master/wood-background-darker.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #7D7977;
}
h1 {
  font-size: 42px;
  color: #554740;
  text-transform: uppercase;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
}
h3 {
  font-size: 14px;
  font-weight: 200;
  color: #9D9A99;
}
hr {
  width: 400px;
  background-color: #9D9A99;
  height: 1px;
  border: 0;
  margin: 50px auto 50px auto;
}
.clear {
  clear: both;
}
a, a:link, a:visited {
  text-decoration: none;
  color: #7D7977;
}
/*
==============================
Header Section
==============================
*/
#header {
  background-color: rgba(25,25,25,.7); 
  padding: 10px 0 10px 0;
}
#header img {
  height: 50px;
  width: 50px; 
  margin: 0 auto;
  display: block;
}
#pdf {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
/*
==============================
Main Section
==============================
*/
#main {
  background-color: #d8d2cf;
  width: 90%;
  margin: 30px 5% 50px 5%;
  text-align: center;
  padding-top: 30px;
}
#avatar {
  height: 75px;
  width: auto;
  border-radius: 100%;
}
#socialBox {
  background-color: #554740;
  padding-top: 10px;
  text-decoration: none;
}
.socialLogo {
  height: 20px;
  width: 20px;
  margin: 5px;
  text-decoration: none;
}
.container {
  width: 600px;
  margin: 50px auto 30px auto;
}
.twoColumnContainer {
  max-width: 600px;
  margin: 0 auto 0 auto;
}
.twoColumnWide {
  width: 600px;
  margin: 0 auto 0 auto;
}
.columnLeft{
  width: 280px;
  float: left;
  text-align: center;
}
.columnRight{
  width: 280px;
  float: right;
  text-align: center;
}
#employment {
  max-width: 700px;
  text-align: left;
  margin: 0 auto 50px auto;
}
/*
==============================
Responsive Styles
==============================
*/
@media only screen and (max-width: 770px) {
	#main {
  width: 100%;
  margin: 30px 0 50px 0;
  }
  .container {
    width: 90%;
  }
  #employment {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
.twoColumnWide {
  width: 100%;
  margin: 0 auto 0 auto;
}
.columnLeft{
  width: 100%;
  margin-bottom: 40px;

}
.columnRight{
  width: 100%;

	}
}
